<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Company" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>

    <% if Rails.env.development? %>
      <script type="module" src="https://cdn.skypack.dev/@aki77/rails-template-inspector"></script>
      <rails-inspector url-prefix="zed://file" root="<%= Rails.root %>" combo-key="alt-b"></rails-inspector>
    <% end %>
  </head>

  <body>
    <div class="bg-slate-100">
      <nav class="container">
        <ul>
          <li><%= link_to "Company", home_url, class: "text-slate-700 hover:text-slate-800 hover:no-underline font-bold" %></li>
        </ul>

        <ul>
          <% if authenticated? %>
            <li><%= link_to "Dashboard", dashboard_url %></li>
          <% else %>
            <li><%= link_to "Login", login_url %></li>
            <li><%= link_to "Register", register_url %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
